@import "tailwindcss";

:root {
  font-family:
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
  background-color: #f1f5f9;
  color: #0f172a;
}
